
@{
    ViewData["Title"] = "Add a Book";
}

<h1>Add a Book</h1>

<form asp-action="Create" method="POST">

    The form comes here...

    <a asp-action="Index" class="btn btn-secondary">Back</a>

    <input type="submit" name="Save" class="btn btn-success" />
</form>

